:root {
	--systemFont: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, sans-serif;
	--mainColor: #face8d;
}

body {
	color: var(--mainColor);
	font-family: var(--systemFont);
}

.VeryVeryVeryLong__selector,
.VeryVeryVeryVeryVeryLong__selector--other {
	color: currentColor;
}

.NotSoLong__selector, .NotSoLong__selector--other {
	color: currentColor;
}

.sortTest {
	display: flex;
	position: relative;
	top: 0;
	color:
		rgb(
			123,
			252,
			223
		);
}
